h1 {
  font-family: 'Signika';
  font-weight: 600;
  font-size: 50;
  line-height: 1;
  color: #0075BE;
  text-align: center;
}

h2 {
  font-family: 'Signika';
  font-weight: 400;
  font-size: 30;
  line-height: 1;
  color: #0A285F;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  margin-top: 90px;
}

@media all and (max-width: 500px) {
  .container {
    margin-top: 190px;
  }
}

.navbar {
  background-color: #0075BE;
}

.btn-outline-primary {
  border: 2px solid #616161;
  color: #212121;
  text-decoration: bold;
}

.modal-header {
  background-color: #fddf31;
}
