body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16;
  line-height: 1.6;
  color: #212121;
  padding: 20px;
}

h1 {
  font-family: 'Signika';
  font-weight: 600;
  font-size: 50;
  line-height: 1;
  color: #0075BE;
}

h2 {
  font-family: 'Signika';
  font-weight: 400;
  font-size: 30;
  line-height: 1;
  color: #0A285F;
}

h2 {
  font-family: 'Signika';
  font-weight: 300;
  font-size: 25;
  line-height: 1;
  color: #0A285F;
}

.pokemon-list {
  list-style-type: none;
  padding-left: 0;
}

.button-class {
  background-color: #F5F5F5; /* light grey */
  color: #212121; /* dark grey */
  width: 500px;
  padding: 16px 32px;
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
  display: inline-block;
  font-family: inherit;
  font-size: 16px;
  margin: 8px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border: 2px solid #919191;
  border-radius: 10px;
}

.button-class:hover,
.button-class:focus,
.button-class:active {
  cursor: pointer;
  background-color: #919191;
  color: #fff;
}

* {
  box-sizing: border-box;
}

/* TESTING PURPOSE event listener changes button class to green background
by clicking the button
.button-class--green {
  background-color: #4DAD5B;
} */

@media all and (max-width: 500px) {
  .button-class {
    width: 100%;
    text-align: center;
  }
}
